body{ background-image: linear-gradient(#cecece,#e9ecf5 ,#d7d5e0);
     color:rgb(243, 227, 227);
     font-size: 35px; }

h1{
     color:rgb(236, 233, 228) 
}    
 
    h2 { 
    background-color: #caced8;
     color:rgb(255, 255, 255) 
} 

    img {
     width: 500px;
     height: 300px; 
}
