body{ background-image: linear-gradient(#ceb1b1,#97a5d1 ,#b7a9f1);
     color:rgb(243, 227, 227);
     font-size: 35px; }

h1{
     color:rgb(190, 182, 167) 
}    
 
    h2 { 
    background-color: #778099;
     color:rgb(255, 255, 255) 
} 

    img {
     width: 500px;
     height: 300px; 
}
